<app-alert></app-alert>
@if(showMenu) {
<div class="top-menu">
  <p>{{ name$ | async }}</p>
  <a (click)="onLogout()">Logout</a>
</div>
}
<div class="container" [class.keyboard-open]="isKeyboardOpen">
  <router-outlet></router-outlet>
</div>
@if(showMenu) {
<div class="bottom-menu" [class.keyboard-open]="isKeyboardOpen">
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="groceryListRoute"
        ><img
          src="../assets/icons/icons8-list-24.png"
          alt="list-icon"
          width="20"
        />Grocery Lists</a
      >
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="storeRoute">
        <img
          src="../assets/icons/icons8-store-24.png"
          alt="store-icon"
          width="20"
        />Stores</a
      >
    </li>
  </ul>
</div>
}
