@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin tile {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
    background-color: white;
    color: $secondary-color;
}