<div class="header">
  <app-header title="Items" [backButton]="true"></app-header>
  <h3>{{ title }}</h3>
  <div class="menu">
    <app-button (click)="newIngredient()">
      <img
        src="../../../assets/icons/icons8-plus-24.png"
        alt="add-icon"
        width="20"
      />
    </app-button>
    <app-button
      (click)="saveIngredients()"
      [buttonStyle]="saved ? buttonStyles.success : buttonStyles.normal"
      [disabled]="saved"
      [loading]="saveProcess"
    >
      @if (saved) {
      <img
        src="../../../../assets/icons/icons8-check-24.png"
        alt="submit-icon"
        width="20"
      />
      } @else {
      <img
        src="../../../assets/icons/icons8-save-24.png"
        alt="save-icon"
        width="20"
      />
      }
    </app-button>
    <app-button (click)="editGroceryList()">
      <img
        src="../../../assets/icons/icons8-edit-24.png"
        alt="edit-icon"
        width="20"
      />
    </app-button>
    <app-button (click)="resetIngredients()">
      <img
        src="../../../assets/icons/icons8-reset-24.png"
        alt="reset-icon"
        width="20"
      />
    </app-button>
    <app-button (click)="exportToNewList($event)">
      <img
        src="../../../assets/icons/icons8-export-24.png"
        alt="export-icon"
        width="20"
      />
    </app-button>
  </div>
</div>
@if (isLoading) {
<div class="flex-center mt-20">
  <app-loading
    [color]="loadingColors.app"
    [size]="loadingSizes.large"
  ></app-loading>
</div>
}
<ul>
  <ng-template #dynamicComponentContainer></ng-template>
  @for(ingredient of ingredients$ | async; track ingredient.id) {
  <li
    (click)="putInBasket(ingredient.id)"
    @tileFadeSlideOut
    [@.disabled]="saveProcess"
  >
    <app-tile-ingredient
      [ingredient]="ingredient"
      (onIngredientDeleted)="deleteIngredient($event)"
    ></app-tile-ingredient>
  </li>
  }
</ul>

<app-modal [isOpen]="modalOpen" (closeModalEvent)="modalOpen = false"
  ><div class="content-modal">
    <h4>Export items to new list</h4>
    <span>Only unselected items will be transferred</span>
    @if (exportForm) {
    <form
      class="form-modal"
      [formGroup]="exportForm"
      (ngSubmit)="onSubmitExportForm()"
    >
      <div class="content">
        <div class="group">
          <app-input-field [type]="inputTypes.text" placeHolder="Name" id="name" formControlName="name"></app-input-field>
          @if(this.exportForm.controls["name"].invalid && exportFormSubmitted) {
          <span class="error">Name is required</span>
          }
        </div>
        <div class="group">
          <label for="store">Store</label>
          <select name="store" id="store" formControlName="storeId">
            <option value="" selected>No store</option>
            @for (store of stores$ | async; track $index) {
            <option [value]="store.id">{{ store.name }}</option>
            }
          </select>
        </div>
      </div>
      <div class="submit bottom">
        <app-button type="submit" [loading]="isLoading"
          ><img
            src="../../../../assets/icons/icons8-check-24.png"
            alt="submit-icon"
            width="20"
        /></app-button>
      </div>
    </form>
    }
  </div></app-modal
>
