<div class="tile-add-container">
  <form [formGroup]="addForm" class="form">
    <div class="line1">
      <div class="group">
        <app-input-field [type]="inputTypes.number" id="amount" formControlName="amount" (keydown.enter)="onEnterPressed()"></app-input-field>
        @if(addForm.get("amount")?.invalid && formSubmitted) {
        <span class="error">Amount is required</span>
        }
      </div>
      <div class="group full-width">
        <app-input-field #inputField [type]="inputTypes.text" placeHolder="Name" id="name" formControlName="name" (keydown.enter)="onEnterPressed()"></app-input-field>
        @if(addForm.get("name")?.invalid && formSubmitted) {
        <span class="error">Name is required</span>
        }
      </div>
    </div>
    <div class="line2">
      <select name="category" id="category" formControlName="category">
        <option value="" selected>No category</option>
        @for (category of categories; track $index) {
        <option [value]="category">{{ category }}</option>
        }
      </select>
      <div>
        <app-button (click)="addItem()" [buttonHover]="hoverChoices.invert"
          ><img
            src="../../../../assets/icons/icons8-check-24.png"
            alt="add-icon"
            width="20"
          />
        </app-button>
      </div>
    </div>
  </form>
</div>
